/* Reseteo del Navegador Web */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reseteo Selectores de Etiquetas */
body{
    background-color: #ffb900;
    color: #000000;
    font-family: 'Hind Vadodara', sans-serif;
}

ul, ol{
    list-style-position: inside;
}

a{
    color: inherit;
    text-decoration: none;
}

img, video, iframe{
    max-width: 100%;
    height: auto;
}

/* Estilos del header */
.encabezado{
    border:5px solid red;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background_encabezado.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-height: 450px;
}

.encabezado__logo{
    width: 160px;
    margin: 165px 45px 10px 0px;
}

.encabezado__eslogan{
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.encabezado__eslogan-titulo{
    font-size: 3.5rem;
    margin-top: 10px;
    margin-bottom: -8px;
}

.encabezado__eslogan-parrafo{
    font-size: 1.8rem;
    margin-bottom: 60px;
}

/* Estilos del main */
.principal{
    border:5px solid blue;
    width: 50%;
    margin:0 auto;
}

/* Estilos Sección 1: LinkTree de McDonald's Argentina */
.s1-linktree{
    text-align: center;
    padding: 1.5rem 0;
}

.s1-linktree__lista{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    list-style-type: none;
}

.s1-linktree__lista-item{
    background-color: #462a19;
    border-radius: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    /* color: #ffffff; */
    color: #ffb900;
    letter-spacing: 0.2rem;
}

.s1-linktree__lista-enlace{
    display: block;
    padding: 1.2rem;
}

.s1-linktree__lista-item :hover{
    border-radius: 2rem;
    font-size: 1.3rem;
    font-weight: 700;
    /* color: #ffb900; */
    color: #ffffff;
    letter-spacing: 0.2rem;
}

/*Estilos Sección 2: Video de Pileta de Cheddar incrustado*/
.s2-video__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s2-video__iframe{
    width: 67%;
    height: 315px;
    margin: 1.5rem 0;
}

/*Estilos Sección 4: Banner Cajita Feliz - Trailer Película 'The Marvels'*/
.s4-banner__contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.s4-banner__enlace{
    margin:1.5rem 0;
}

/*Estilos del footer*/
.pie-pagina{
    border:5px solid green;
    width: 100%;
}
